{% extends "SaxidLdapProxyBundle::base.html.twig" %}

{% block body %}
<h1>Welcome to the Ldap:adduser page</h1>

<p>... added to LDAP!</p>

{% if app.environment == 'dev' %}
  <h2>Object SaxIDUser</h2>
  <pre>{{ dump(app.user) }}</pre>

  <h2>LDAP Data Array</h2>
  <pre>{{ dump(app.user.createLdapDataArray()) }}</pre>
{% endif %}

{{ parent() }}
{% endblock body %}
