{% extends "SaxidLdapProxyBundle::base.html.twig" %}

{% block body %}
<h1>Welcome to the Ldap:adduser page</h1>

<p>... added to LDAP!</p>

<code>{{ message }}</code>

{{ parent() }}
{% endblock body %}