{% extends "SaxidLdapProxyBundle::base.html.twig" %}

{% block body %}
	<div class="page-header">
		<h1>Impressum</h1>
	</div>

	<div class="media">
		<div class="media-left media-middle">
			<a href="http://www.tu-dresden.de/zih">
				<img class="media-object" src="{{ asset('bundles/saxidldapproxy/images/zih-logo-70x70.png') }}" alt="Zentrum für Informationsdienste und Hochleistungsrechnen (ZIH)">
			</a>
		</div>
		<div class="media-body">
			<p>
				Diensteanbieter im Sinne von §5 Telemediengesetz (TMG) und §55 Rundfunkstaatsvertrag (RStV) ist das <a href="http://www.tu-dresden.de/zih">Zentrum für Informationsdienste und Hochleistungsrechnen (ZIH)</a> der <a href="http://www.tu-dresden.de">Technischen Universität Dresden</a>. Vertretungsberechtigter Vorstand ist Prof. Dr. Wolfgang E. Nagel. Kontakt über Jan Froemberg (Kontaktdaten wie unten angegeben).
			</p>
		</div>
	</div>

	<div class="page-header">
		<h1>Kontakt</h1>
	</div>

	<h2>SaxID-Ansprechpartner</h2>
	<address>
		<strong>Jan Frömberg</strong><br>
		Technische Universität Dresden<br>
		Zentrum für Informationsdienste und Hochleistungsrechnen (ZIH)<br>
		Zellescher Weg 12-14<br>
		01069 Dresden<br>
		<br>
		Telefon: +49 (0)351 - 463 35368<br>
		<a href="mailto:jan.froemberg(ett)tu-dresden.de">jan.froemberg(ett)tu-dresden.de</a>
	</address>
{% endblock body %}
