{% extends "SaxidLdapProxyBundle::base.html.twig" %}

{% block body %}
	<div class="page-header">
		<h1>Impressum</h1>
	</div>

	<div class="media">
		<div class="media-left media-middle">
			<a href="http://www.tu-dresden.de/zih">
				<img class="media-object" src="img/zih-logo-70x70.png" alt="Zentrum für Informationsdienste und Hochleistungsrechnen (ZIH)">
			</a>
		</div>
		<div class="media-body">
			<p>
				Terms of Service ...

				<button type="submit" class="btn btn-primary">Zustimmen und Weiter</button>
				<button type="submit" class="btn btn-default">Ablehnen und Verlassen</button>
			</p>
		</div>
	</div>



{% endblock body %}
