{% extends "SaxidLdapProxyBundle::base.html.twig" %}

{% block body %}
    <div class="page-header">
        <h1>Dienstepasswörter verwalten</h1>
    </div>

    <section id="manage-passwords">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-HPC">
                    <h4 class="panel-title">
                        <a class="button password-button" role="button" data-parent="#accordion" href="#collapse-HPC">
                            High Performance Computing att TU Dresden
                        </a>
                    </h4>
                </div>

                <div id="collapse-HPC" class="panel panel-default" role="tabpanel" aria-labelledby="heading-HPC">
                    <div class="panel-body">
                        <form>
                            <div class="alert alert-danger" role="alert"><strong>Platzhalter:</strong> Platzhalter für Fehlermeldung!</div>
                            <div class="form-group form-inline has-error has-feedback">
                                <label class="sr-only" for="newPassword">Neues Passwort</label>
                                <input type="password" name="newPassword" class="form-control" id="newPassword" placeholder="Neues Passwort">
                                <label class="control-label sr-only" for="newPasswordCheck">Neues Passwort wiederholen</label>
                                <input type="password" name="newPasswordCheck" class="form-control" id="newPasswordCheck" placeholder="Bestätigung" aria-describedby="newPasswordErrorStatus">
                                <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                                <span id="newPasswordErrorStatus" class="sr-only">(Error)</span>
                                <button type="submit" class="btn btn-primary">Passwort ändern</button> oder
                                <button type="submit" class="btn btn-default">Neues Passwort erzeugen</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock body %}
