/* Basic styles */
html {
	background-color: #000;
}

body {
	padding-top: 70px;
}

h2 {
	margin-top: 60px;
}

.gentle-image-border {
	border:1px solid #eee;
}

/* Navbar styles */
.navbar-brand {
	margin-right: 20px;
}

.navbar-brand img {
	display: inline-block;
	position: relative;
	top: -3px;
	margin-right: 8px;
}

/* Theme specific styles */
.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.container > p > .btn {
	margin: 5px 0;
}

.container .navbar .container {
	width: auto;
}

/* Section styles */
section li h2 {
	margin: 0;
	padding: 0;
}

section#academies-index > ul, section#services-index > ul {
		padding-left: 20px;
}
section#academies-index > ul > li, section#services-index > ul > li {
		margin: 6px 0;
}
section#academies-index > .btn, section#services-index > .btn {
	margin-top: 40px;
}

section#academies ul {
	margin: 0;
	padding: 0;
}

section#academies li {
	padding: 40px;
	list-style-type: none;
}

section#academies li:nth-child(even) {
	background-color: #fafafa;
}

section#academies li img {
	max-width: 70%;
}

section#manage-passwords i.fa {
	font-size: 0.7em;
	color: #999;
	cursor: pointer;
	position: relative;
	top: -2px;
}

section#services .panel-body h2 {
	margin-top: 10px;
}

section#services .panel-body h3 {
	border-bottom: 1px solid #eee;
}

section#services a.service-button, section#manage-passwords a.password-button {
	display: block;
}

/* Footer styles */
footer {
	margin-top: 120px;
	background-color: #000;
	padding-top: 40px;
	padding-bottom: 120px;
	color: #c3c3c3;
}

footer h1 {
	font-size: 1.5em;
	font-weight: bold;
	color: #404040;
	margin-bottom: 20px;
}

footer ul, footer li {
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: #707070;
}

footer a {
	color: #c3c3c3;
}

footer a:hover {
	color: #808080;
	text-decoration: none;
}

/* Modal toggler */
.modal-toggle {
	cursor: pointer;
}

.hover-show-magnifier:after, .hover-show-magnifier:before {
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.hover-show-magnifier:after {
    content: '\f00e';
    font-family: 'FontAwesome';
    font-size: 4em;
    width: calc(100% - 30px);
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    text-align: center;
    padding-top: 21%;
    color: #fff;
    margin-left: 15px;
}
.hover-show-magnifier:before {
    content: attr(data-content);
    width: 100%;
    color: #fff;
    z-index: 1;
    bottom: 0;
    text-align: center;
    background: #f00;
    box-sizing: border-box;
    -moz-box-sizing:border-box;
}
.hover-show-magnifier:hover:after, .hover-show-magnifier:hover:before {
    opacity: 1;
}

/* Modals */
.modal.saxid-map .modal-content {
	padding: 3em;
	text-align: center;
}
.modal.saxid-map .modal-content > h2 {
	margin-top: 0;
}
.modal.saxid-map .modal-content > img {
	display: inline-block;
}

.idp-attributelist {
	border: 1px solid #c3c3c3;
    background-color: #f8f8f8;
    padding: 2em 4em;
}
